---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Work from "../components/Work.astro";
import Container from "../components/Container.astro";
import Whatsapp from "../components/Whatsapp.icon.astro";
import Service from "../components/Service.astro"
---

<Layout>
  <main>
    <section>
      <Hero />
    </section>
    <div  class="space-y-24">
      <Container>
        <Work />
      </Container>
      <Whatsapp/>
      <Container bgColor="bg-[#041122]">
        <Service/>
      </Container>
    </div>
  </main>
</Layout>
