---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Work from "../components/Work.astro";
import Container from "../components/Container.astro";
import Whatsapp from "../components/Whatsapp.icon.astro";
import Service from "../components/Service.astro"
import Marcas from "../components/Marcas.astro";
import Lowhero from "../components/Lowhero.astro";
import Acordion from "../components/Acordion.astro"
import Sobremi from "../components/Sobremi.astro"
---

<Layout>
  <main>
    <section>
      <Hero />
    </section>
    <div  class="space-y-24">
      <Container bgColor="bg-[#041122]">
        <Service/>
      </Container>
      <Marcas/>
      <Container>
        <Work />
      </Container>
      <Container bgColor="bg-[#041122]">
        <Sobremi/>
      </Container>
      <Container>
        <Acordion/>
      </Container>
      <Container bgColor="bg-[#041122]">
        <Lowhero/>
      </Container>
    </div>
    <Whatsapp/>
  </main>
</Layout>
