<div
  class="relative h-screen w-full bg-cover bg-center bg-[url('src/images/img-001.webp')]"
>
  <div class="absolute inset-0 backdrop-blur-sm"></div>
  <div
    class="absolute inset-0 bg-black/50 flex flex-col lg:flex-row items-center justify-center lg:px-40 px-5 pb-3"
  >
    <!-- Contenedor de texto -->
    <div class="lg:w-1/2 text-center lg:text-left">
      <p class="sm:text-4xl text-xl text-[#c3c3c3] py-3">Get legal support</p>
      <h1 class="text-white sm:text-7xl text-3xl font-bold pb-4">
        Soluciones <span class="text-cyan-300">rápidas  y efectivas</span> para tu celular<br />
      </h1>
      <p class="sm:text-3xl text-xl text-[#b2b2b2] pb-6 py-3">
        Cambio de pantallas, baterías, placas de carga. Servicio confiable!
      </p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfl1ie-c5BYYQkRhN03k7RWbOL-Zt-szg8f7-XdGjr1JF-zew/viewform?embedded=true" target="_blank" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700">
        Solicitar Reparación
    </a>
    </div>

    <!-- Imagen SVG -->
    <div class="lg:w-1/2 flex justify-center">
      <img
        src="/src/assets/phone-maintenance-66.svg"
        alt="..."
        class="sm:w150 h-100%"
      />
    </div>
  </div>
</div>

