---
const personalImageAlt = "Emiliano Cabral";
---

<section class="py-40">
  <div>
    <h2 class="flex justify-center text-6xl pb-16  font-bold text-white">
      Sobre mi
    </h2>
  </div>
  <article
    class="flex flex-col items-center justify-center gap-8 md:flex-row"
  >
    <div class="sm:text-3xl text-xl text-[#b2b2b2] pb-6 py-3">
      <p>
        Web developer with 1 year of experience, My meticulousness and
        commitment to excellence have been instrumental in achieving positive
        results in previous projects. <strong
          >I am always looking to improve my skills and stay up to date with the
          latest technological trends,</strong
        > with a firm commitment to continuous growth and learning. I have the ability
        to quickly assimilate new tools and technologies
      </p>
    </div>
    <img
      width="200"
      height="200"
      src="/src/images/img-001.webp"
      alt={personalImageAlt}
      class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    />
  </article>
</section>
