<a href="https://wa.me/5491125428277" target="_blank" class="whatsapp-float">
    <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" width="50" height="50">
</a>

<style>
    .whatsapp-float {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }
    
    .whatsapp-icon {
        border: 3px solid white;
        border-radius: 50%;
        padding: 5px; 
        background-color: white; 
    }
    </style>
