<a href="https://wa.me/5491125428277" target="_blank" class="whatsapp-float">
    <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" width="50" height="50">
</a>

<style>
    .whatsapp-float {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }
    
    .whatsapp-icon {
        border: 3px solid white; /* Contorno blanco */
        border-radius: 50%; /* Hace el borde redondeado */
        padding: 5px; /* Espacio entre el icono y el borde */
        background-color: white; /* Fondo blanco para que el borde se vea bien */
    }
    </style>
